Repository dbachelder/gsd-console: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

refactor(03.1-04): simplify roadmap state persistence
  src/components/layout/TabLayout.tsx
  src/components/roadmap/RoadmapView.tsx
  src/hooks/useTabState.ts
Due: biome-check, typecheck

docs: dismiss todo - fix ui shift on first navigation
  .planning/STATE.md
  .planning/todos/done/2026-01-24-fix-ui-shift-on-first-navigation.md
Due: none

docs: add plan 03.1-05 for remaining ui issues
  .planning/ROADMAP.md
  .planning/phases/03.1-ui-polish/03.1-05-PLAN.md
Due: none

feat(03.1-05): add arrow key and fuzzy navigation to file picker
  src/components/picker/FilePicker.tsx
Due: biome-check, typecheck

fix(03.1-05): remove misleading project progress bar from roadmap
  src/components/roadmap/RoadmapView.tsx
Due: biome-check, typecheck

fix(03.1-05): show checked success criteria when phase is complete
  src/components/phase/CriteriaList.tsx
  src/components/phase/PhaseView.tsx
Due: biome-check, typecheck

docs(03.1-05): complete final gap closure plan
  .planning/STATE.md
  .planning/phases/03.1-ui-polish/03.1-05-SUMMARY.md
Due: none

docs(03.1): complete ui polish phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03.1-ui-polish/03.1-VERIFICATION.md
Due: none

docs: add global installation instructions to readme
  README.md
Due: none

chore: remove private flag for global install
  README.md
  package.json
Due: biome-check

fix(03.1): zero-pad decimal phase ids for roadmap lookup
  src/components/phase/PhaseView.tsx
Due: biome-check, typecheck

docs(04): research opencode integration domain
  .planning/phases/03.1-ui-polish/03.1-UAT.md
  .planning/phases/04-opencode-integration/04-RESEARCH.md
  src/components/phase/PhaseView.tsx
Due: biome-check, typecheck

docs(04): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04-opencode-integration/04-01-PLAN.md
  .planning/phases/04-opencode-integration/04-02-PLAN.md
  .planning/phases/04-opencode-integration/04-03-PLAN.md
  .planning/phases/04-opencode-integration/04-04-PLAN.md
  .planning/phases/04-opencode-integration/04-05-PLAN.md
Due: none

fix(04): revise plans based on checker feedback
  .planning/phases/04-opencode-integration/04-03-PLAN.md
  .planning/phases/04-opencode-integration/04-05-PLAN.md
Due: none

docs(04): capture phase context
  .planning/phases/04-opencode-integration/04-CONTEXT.md
Due: none

fix(04): revise plans 03-05 based on context decisions
  .planning/phases/04-opencode-integration/04-03-PLAN.md
  .planning/phases/04-opencode-integration/04-04-PLAN.md
  .planning/phases/04-opencode-integration/04-05-PLAN.md
Due: none

chore(04-01): install @opencode-ai/sdk
  bun.lock
  package.json
  src/lib/opencode.ts
Due: biome-check, typecheck

feat(04-01): add opencode sdk client wrapper
  src/lib/opencode.ts
Due: biome-check, typecheck

feat(04-01): add connection hook and types
  src/hooks/useOpencodeConnection.ts
  src/lib/types.ts
Due: biome-check, typecheck

feat(04-02): add spawn-opencode command to palette
  src/lib/commands.ts
Due: biome-check, typecheck

docs(04-02): complete terminal handoff plan
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-02-SUMMARY.md
Due: none

docs(04-01): complete sdk setup plan
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-01-SUMMARY.md
Due: none

feat(04-03): add session listing functions
  src/lib/opencode.ts
Due: biome-check, typecheck

feat(04-03): create session picker component
  src/components/picker/SessionPicker.tsx
Due: biome-check, typecheck

feat(04-03): add connect-session command and wire to app
  LICENSE
  src/app.tsx
  src/lib/commands.ts
Due: biome-check, typecheck

docs(04-03): complete session picker plan
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-03-SUMMARY.md
Due: none

feat(04-04): add background job types and prompt functions
  README.md
  src/lib/opencode.ts
  src/lib/types.ts
Due: biome-check, typecheck

feat(04-04): create session events hook
  src/hooks/useSessionEvents.ts
Due: biome-check, typecheck

feat(04-04): create background jobs hook with retention
  src/hooks/useBackgroundJobs.ts
Due: biome-check, typecheck

docs(04-04): complete background jobs plan
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-04-SUMMARY.md
Due: none

feat(04-05): add execution mode type and queueable command flag
  src/lib/commands.ts
  src/lib/types.ts
Due: biome-check, typecheck

feat(04-05): create execution mode prompt component
  src/components/background/ExecutionModePrompt.tsx
Due: biome-check, typecheck

feat(04-05): create background view and job entry components
  src/components/background/BackgroundView.tsx
  src/components/background/JobEntry.tsx
Due: biome-check, typecheck

feat(04-05): add background as 4th tab with navigation and hints
  src/app.tsx
  src/components/layout/Footer.tsx
  src/components/layout/TabLayout.tsx
  src/hooks/useExternalEditor.ts
  src/hooks/useTabState.ts
Due: biome-check, typecheck

feat(04-05): integrate execution mode prompt and background jobs
  src/app.tsx
Due: biome-check, typecheck

docs(04-05): complete background ui plan with gaps
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-05-SUMMARY.md
Due: none

docs(04): create gap closure plans for phase 4
  .planning/ROADMAP.md
  .planning/phases/04-opencode-integration/04-06-PLAN.md
  .planning/phases/04-opencode-integration/04-07-PLAN.md
Due: none

feat(04-06): add connect hint to footer
  src/components/layout/Footer.tsx
Due: biome-check, typecheck

feat(04-07): add tab completion to command palette
  src/app.tsx
  src/components/palette/CommandPalette.tsx
  src/hooks/useCommandPalette.ts
  src/lib/commands.ts
Due: biome-check, typecheck

fix(04-06): normalize paths in session detection
  src/lib/opencode.ts
Due: biome-check, typecheck
