Repository dbachelder/gsd-console: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

feat(04-07): pass command arguments to execution mode prompt
  src/app.tsx
Due: biome-check, typecheck

docs(04-06): complete gap closure plan
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-06-SUMMARY.md
Due: none

docs(04-07): complete tab completion plan
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-07-SUMMARY.md
Due: none

fix(04-06): read sessions from local storage as sdk fallback
  src/lib/opencode.ts
Due: biome-check, typecheck

fix(04-06): filter sessions to last 24h, limit to 10 most recent
  src/lib/opencode.ts
Due: biome-check, typecheck

fix(04-06): deduplicate sessions by id
  src/lib/opencode.ts
Due: biome-check, typecheck

docs(04): complete opencode integration phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-opencode-integration/04-VERIFICATION.md
Due: none

fix(04): add black background to execution mode prompt
  src/components/background/ExecutionModePrompt.tsx
Due: biome-check, typecheck

fix(04): use sdk only for session listing, remove local db fallback
  src/lib/opencode.ts
Due: biome-check, typecheck

feat(04): improve session picker with relative time and full width
  src/components/picker/SessionPicker.tsx
Due: biome-check, typecheck

feat(04): add recent indicator and improve time visibility in session picker
  src/components/picker/SessionPicker.tsx
Due: biome-check, typecheck

fix(04): remove incorrect timestamp multiplication
  src/lib/opencode.ts
Due: biome-check, typecheck

feat(04): use opencode attach for spawned sessions
  src/app.tsx
  src/lib/commands.ts
  src/lib/opencode.ts
Due: biome-check, typecheck

docs: update claude.md with opencode integration learnings
  CLAUDE.md
Due: none

docs(05): research test coverage phase
  .planning/phases/05-test-coverage/05-RESEARCH.md
Due: none

docs(05): create phase 5 plans
  .planning/ROADMAP.md
  .planning/phases/05-test-coverage/05-01-PLAN.md
  .planning/phases/05-test-coverage/05-02-PLAN.md
  .planning/phases/05-test-coverage/05-03-PLAN.md
  .planning/phases/05-test-coverage/05-04-PLAN.md
  .planning/phases/05-test-coverage/05-05-PLAN.md
  .planning/phases/05-test-coverage/05-06-PLAN.md
  .planning/phases/05-test-coverage/05-07-PLAN.md
  .planning/phases/05-test-coverage/05-08-PLAN.md
  .planning/phases/05-test-coverage/05-09-PLAN.md
  .planning/phases/05-test-coverage/05-10-PLAN.md
Due: none

docs(05): create phase plan
  .planning/ROADMAP.md
Due: none

chore(05-01): create test setup with memfs mocks
  test/setup.ts
Due: biome-check, typecheck

chore(05-01): configure bunfig.toml preload script
  bunfig.toml
Due: none

fix(05-01): adapt test setup for Bun module loading
  test/setup.ts
Due: biome-check, typecheck

docs(05-01): complete testing dependencies plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-test-coverage/05-01-SUMMARY.md
Due: none

chore(05-01): install testing dependencies
  bun.lock
  package.json
Due: biome-check

test(05-02): add comprehensive parser tests with memfs
  test/lib/parser.test.ts
Due: biome-check, typecheck

feat(05-02): create test fixture files for parser tests
  test/fixtures/phases/01-core-tui/01-01-SUMMARY.md
  test/fixtures/phases/01-core-tui/PLAN.md
  test/fixtures/roadmap.md
  test/fixtures/state.md
Due: none

docs(05-02): complete parser tests and fixtures plan
  .planning/phases/05-test-coverage/05-02-SUMMARY.md
Due: none

docs(05-02): update state for plan 02 completion
  .planning/STATE.md
Due: none

docs(05-02): mark 05-02-plan.md as complete in roadmap.md
  .planning/ROADMAP.md
Due: none

test(05-03): add useVimNav tests with component wrapper
  test/hooks/useVimNav.test.tsx
Due: biome-check, typecheck

test(05-03): add useTabNav tests with component wrapper
  test/hooks/useTabNav.test.tsx
Due: biome-check, typecheck

test(05-03): add useToast tests with component wrapper
  test/hooks/useToast.test.tsx
Due: biome-check, typecheck

test(05-03): add useTabState tests with component wrapper
  test/hooks/useTabState.test.tsx
Due: biome-check, typecheck

docs(05-03): complete core hooks tests plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-test-coverage/05-03-SUMMARY.md
Due: none

test(05-04): add Header component tests
  test/components/layout/Header.test.tsx
Due: biome-check, typecheck

test(05-04): add Footer component tests
  test/components/layout/Footer.test.tsx
Due: biome-check, typecheck

test(05-05): add RoadmapView component tests
  test/components/roadmap/RoadmapView.test.tsx
Due: biome-check, typecheck

test(05-05): add PhaseRow component tests
  test/components/roadmap/PhaseRow.test.tsx
Due: biome-check, typecheck

test(05-04): add TabLayout component tests
  test/components/layout/TabLayout.test.tsx
Due: biome-check, typecheck

test(05-05): add ProgressBar component tests
  test/components/roadmap/ProgressBar.test.tsx
Due: biome-check, typecheck

docs(05-04): complete layout components tests plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-test-coverage/05-04-SUMMARY.md
Due: none

docs(05-05): complete roadmap components tests plan
  .planning/phases/05-test-coverage/05-05-SUMMARY.md
Due: none
