Repository dbachelder/gsd-console: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

feat(004-01): create test scripts for /gsd-add-todo command
  scripts/test-add-todo.ts
  scripts/verify-add-todo-fix.ts
Due: biome-check, typecheck

docs(004-01): complete fix /gsd-add-todo command plan
  .planning/quick/004-fix-everything-you-might-need-to-write-a/004-SUMMARY.md
Due: none

docs(quick-004): fix /gsd-add-todo command execution
  .planning/STATE.md
  .planning/quick/004-fix-everything-you-might-need-to-write-a/004-PLAN.md
Due: none

docs: capture todo - prepare phase 9 name change implementation
  .planning/todos/pending/2026-01-26-prepare-phase-9-name-change.md
  .planning/todos/pending/2026-01-27-test-final-verification-todo.md
Due: none

docs: capture todo - track conversation greeting
  .planning/STATE.md
  .planning/todos/pending/2025-01-27-track-conversation-greeting.md
Due: none

fix(background-jobs): increase timeout to 2 minutes and fix argument passing
  src/hooks/useBackgroundJobs.ts
Due: biome-check, typecheck

docs: capture todo - test shit
  .planning/STATE.md
  .planning/todos/pending/2026-01-27-test-shit.md
Due: none

docs: capture todo - do something cool
  .planning/todos/pending/2025-01-27-do-something-cool.md
Due: none

docs(09): capture phase context
  .planning/phases/09-name-change-and-public-readiness/09-CONTEXT.md
Due: none

docs(09): research phase domain
  .planning/phases/09-name-change-and-public-readiness/09-RESEARCH.md
Due: none

docs(09): create phase plan
  .planning/ROADMAP.md
  .planning/phases/09-name-change-and-public-readiness/09-01-PLAN.md
  .planning/phases/09-name-change-and-public-readiness/09-02-PLAN.md
  .planning/phases/09-name-change-and-public-readiness/09-03-PLAN.md
Due: none

refactor(09-01): rename gsd-tui to gsd-console across codebase
  CLAUDE.md
  README.md
  package.json
  src/app.tsx
  src/cli.tsx
  src/components/layout/HelpOverlay.tsx
  src/lib/icons.ts
  src/lib/opencode.ts
  src/lib/types.ts
  test/components/picker/SessionPicker.test.tsx
  test/fixtures/roadmap.md
  test/hooks/useOpencodeConnection.test.tsx
  test/hooks/useSessionActivity.test.tsx
Due: biome-check, typecheck

chore(09-01): add npm publishing metadata to package.json
  package.json
Due: biome-check

chore(09-01): regenerate bun.lock with new package name
  bun.lock
Due: none

docs(09-01): complete rename plan with summary and state update
  .planning/STATE.md
  .planning/phases/09-name-change-and-public-readiness/09-01-SUMMARY.md
Due: none

docs(09-02): rewrite readme with professional structure
  README.md
Due: none

docs(09-02): create contributing guide
  CONTRIBUTING.md
Due: none

docs(09-02): complete readme and documentation plan
  .planning/STATE.md
  .planning/phases/09-name-change-and-public-readiness/09-02-SUMMARY.md
Due: none

chore(09-03): release v1.0.0
  package.json
Due: biome-check

fix(parser): handle both plans markdown formats
  src/lib/parser.ts
Due: biome-check, typecheck

docs(state): mark all todos as completed
  .planning/STATE.md
Due: none

chore: close 5 pending todos
  .planning/todos/done/2025-01-27-do-something-cool.md
  .planning/todos/done/2025-01-27-track-conversation-greeting.md
  .planning/todos/done/2026-01-26-prepare-phase-9-name-change-implementation.md
  .planning/todos/done/2026-01-26-prepare-phase-9-name-change.md
  .planning/todos/done/2026-01-27-test-shit.md
Due: none

docs(09-03): mark npm publishing plan as complete
  .planning/phases/09-name-change-and-public-readiness/09-03-SUMMARY.md
Due: none

feat: show helpful setup ui when no .planning directory exists
  bun.lock
  src/app.tsx
  src/cli.tsx
  src/components/views/NoPlanningView.tsx
  src/hooks/useFileWatcher.ts
  src/hooks/useGsdData.ts
  src/lib/types.ts
Due: biome-check, typecheck

Update README.md
  README.md
Due: none

fix: correct install command typo and add GitHub install option
  README.md
Due: none

docs: remove npm references, simplify install to GitHub only
  README.md
Due: none

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
